<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>web enabled bathroom</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>

  <div id="jsChat">
    <h1>web enabled bathroom <small><a href="/logoff">log off</a></small></h1>

    <div id="room-info">
    	in the room: 
    	<ul id="active-users"></ul>
    </div>
    
    <form id="send-message" action="">
      <label for="message">type message & hit enter</label>
      <textarea  type="text" name="message"></textarea>
      <button id="submit-message">send message</button>
    </form>
    
    <ul id="jsChat-messages"></ul>

  </div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/config.js"></script>
<script src="/js/jschat.js"></script>

</body>
</html>
