<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>skatroom</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>

  <form id="login" method="post" action="/">
    <h1>enter the skatroom</h1>
    
    <div id="login-alert"></div>
    
    <p>
      <label for="nick">nickname:</label>
      <input type="text" name="nickname" />
    </p>
    
    <p>
      you are in stall <strong id="stall-display">partyboy69</strong>
      <input type="hidden" id="stall" name="stall" value="partyboy69" />
    </p>
  
    <input type="submit" value="submit" />
  </form>


<script src="/js/skatroom-admin.js"></script>
<script type="text/javascript">
  (function(){
    var stallNameGet = window.location.search.replace('?','');
    var stallNameInput = document.getElementById('stall');
    var stallNameDisplay = document.getElementById('stall-display');
    stallNameInput.value = stallNameGet;
    stallNameDisplay.innerHTML = stallNameGet.replace(/%20/g,' ');
  })()
</script>
</body>
</html>
