<!doctype html>
<html>
<head>
    <title>jsChat</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>

    <form id="login" method="post" action="/">
        <h1>log in to jsChat</h1>
        
        <div id="login-alert"></div>
        
        <p>
            <label for="nick">nickname:</label>
            <input type="text" name="nickname" />
        </p>
    
        <p>
            <label for="password">password:</label>
            <input type="password" name="password" />
        </p>

        <input type="submit" value="submit" />
    </form>


<script src="/js/jschat-admin.js"></script>

</body>
</html>
