* { -moz-box-sizing: border-box; box-sizing: border-box; }
body { padding: 0 20px; font-family: 'Eurostile', monospace; font-size: 1em; background-color: #46A4C5}
a { color: #333; }
h1 { margin-top: 0; }
img { max-width: 100%; }

#logo { width: 80%; display: block; margin: 0 auto; }

#skatroom,
#login { width: 100%; }
#skatroom { display: none; }
#login { text-align: center; }

/* login form */
#login { font-size: 2em; }
#login label { display: block; font-weight: bold; }
#login input[type="text"] { font-size: 1em; padding: 10px; width: 100%; }
#login input[type="submit"] { font-size: .8em; }

/* message window */
#room-info { margin-top: 10px; }
#skatroom-messages { background-color: #fff; height: 200px; overflow-y: scroll; border: 1px solid #000; padding: 10px; font-size: 1.1em; }
#skatroom-messages li { margin: 10px 0; list-style: none; }
#skatroom-messages li.system { font-style: italic; color: #999; }

/* active users list */
#active-users { margin: 10px 0; padding: 0; list-style: none; display: inline-block; }
#active-users li { display: inline-block; margin: auto 5px; font-weight: bold; padding: 2px 5px; background: #efefef; }

/* message form*/
#send-message { background: #864e11; padding: 5px; color: #fff; font-size: 1.5em; }
#send-message label { display: block; }
#send-message input[type="text"] { display: block; width: 100%; margin: 0 0 5px; font-size: 1em; padding: 10px; }
#send-message input[type="submit"] { font-size: .7em; }

/* messages */
.nick { font-weight: bold; }
.emoji { max-height: 25px; vertical-align: middle; }

/* dashboard for desktop */
#dashboard { font-size: 2em; padding: 20px; }
#dashboard #sidebar { float: left; width: 30%; margin-right: 50px; color: #fff; text-align: center; font-weight: bold; font-size: 1.5em; }
#dashboard #sidebar #logo { width: 100%: }
#dashboard #skatroom-messages { margin-top: 10px; height: 100%; max-height: 500px;}
#dashboard #skatroom-messages li { margin: .5em; }