* { -moz-box-sizing: border-box; box-sizing: border-box; }
body { padding: 20px; font-family: monospace; }
a { color: #333; }
h1 { margin-top: 0; }

#jsChat,
#login { width: 100%; max-width: 600px; min-width: 225px; }
#jsChat { display: none; }

/* login form */
#login { }
#login label { display: block; font-weight: bold; }

/* message window */
#jsChat-messages { height: 300px; overflow-y: scroll; border: 1px dashed #000; padding: 10px; }
#jsChat-messages li { margin: 10px 0; list-style: none; }
#jsChat-messages li.system { font-style: italic; color: #999; }

/* active users list */
#active-users { margin: 10px 0; padding: 0; list-style: none; display: inline-block; }
#active-users li { display: inline-block; margin: auto 5px; font-weight: bold; padding: 2px 5px; background: #efefef; }

/* message form*/
#send-message { background: #0167CC; padding: 5px; color: #fff;}
#send-message label { display: block; }
#send-message textarea { width: 100%; margin: 10px 0 0; }

/* messages */
.nick { font-weight: bold; }